[submodule "ray_tracing_in_one_weekend/3rdparty/stb"]
	path = ray_tracing_in_one_weekend/3rdparty/stb
	url = git@github.com:nothings/stb.git
[submodule "ray_tracing_in_one_weekend/3rdparty/glm"]
	path = ray_tracing_in_one_weekend/3rdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/glad"]
	path = external/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
